<div class="container" [hidden]="submitted">
  <h1>Employee info</h1>
  <form (ngSubmit)="onSubmit()" #employeeForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" class="form-control" id = "name" required
      [(ngModel)]="newEmployee.name" #employeeName="ngModel" #watchState>
      <br>Current state: {{watchState.className}}
      <div [hidden]="employeeName.valid || employeeName.pristine" class="alert alert-danger">
        Name is required(Must not blank)
      </div>
     </div>
    <div class="form-group">
      <label for="dateofBirth">Date of Birth</label>
      <input type="text" name="dateOfBirth" class="form-control" id = "dateofBirth"
      required [(ngModel)]="newEmployee.dateOfBirth" #dob="ngModel">
      <div [hidden]="dob.valid || dob.pristine" class="alert alert-danger">
        Datae of birth is required(Must not blank)
      </div>
    </div>
    <div class="form-group">
      <label for="alias">Alias</label>
      <input type="text" name="name" class="form-control" id = "alias">
    </div>
    <div class="form-group">
      <label for="jobCategory">Job Category</label>
      <select class="form-control" id="jobCategory" required>
        <option *ngFor="let eachJobCategory of jobCategories" [value]="eachJobCategory">{{eachJobCategory}}</option>
      </select>
    </div>
    <button type="button" class="btn btn-default" (click)="addNewEmployee() ; employeeForm.reset()" >New employee</button>
    <button kype="button" class="btn btn-success" [disabled]="!employeeForm.form.valid"> submit</button>
  </form>

</div>
<div [hidden]="!submitted"> <h1>Done</h1> </div>
